*.pyc
.idea
*.IMA
dist
build
bidscoin.egg-info
.coverage
.vscode
venv
.eggs
htmlcov
__pycache__
.tox
tests/testdata/*.log
tests/testdata/*.errors
tests/testdata/bidsmap_output.yaml
bidscointutorial*/
.DS_Store
!/tests/testdata/
